<div
  gdAuto
  gdGap=".5rem"
  gdColumns="auto repeat(5, 1fr)"
  gdRows="auto repeat({{ times.length }}, 20px)"
>
  <!--  <b *ngFor="let fill of filler" class="lines"></b>-->
  <strong
    *ngFor="let day of days | async; let i = index"
    gdColumn="{{ i + 2 }}"
    gdGridAlign="center center"
    gdRow="1"
    >{{ day }}</strong
  >
  <span
    *ngFor="let time of times; let i = index"
    style="padding: 0 4px"
    gdColumn="1"
    gdGridAlign="start center"
    gdRow="{{ i + 2 }}"
    >{{ time }}</span
  >
  <div
    *ngFor="let appointment of appointments"
    (click)="open.emit(appointment)"
    [ngClass]="{ taken: appointment.taken }"
    class="appointment"
    gdColumn="{{ appointment.day + 1 }}"
    gdRow="{{ appointment.startMinute + 2 }}/{{ appointment.endMinute + 2 }}"
  >
    {{ appointment.appointmentStart | date: 'shortTime' }} -
    {{ appointment.appointmentEnd | date: 'shortTime' }}
  </div>
</div>
