<h3>Appointments</h3>
<div fxLayout="row" fxLayoutGap="2rem">
  <div>
    <div class="appointments" fxLayout="column" fxLayoutGap="1rem">
      <div
        *ngFor="let appointment of calendar.appointments"
        [routerLink]="['view', appointment.id]"
        class="item"
        fxLayout="row"
        fxLayoutGap="0.5rem"
        routerLinkActive="active"
      >
        <mat-icon>{{
          appointment.taken ? 'hourglass_full' : 'hourglass_empty'
        }}</mat-icon>
        <div fxLayout="column" fxLayoutGap="0.5rem">
          <strong>{{ appointment.title }}</strong>
          <small
            >{{ appointment.appointmentStart | date: 'medium' }} -
            {{ appointment.appointmentEnd | date: 'medium' }}</small
          >
        </div>
      </div>
    </div>
    <ng-template #newButton>
      <button (click)="showNewAppointment = true" mat-stroked-button>
        Add appointment
      </button>
    </ng-template>
    <kap-new-appointment
      (done)="showNewAppointment = false"
      *ngIf="showNewAppointment; else newButton"
      [calendarId]="calendar.id"
    ></kap-new-appointment>
  </div>
  <router-outlet></router-outlet>
</div>
