<main class="mat-typography mat-app-background">
  <h1>Manage Users</h1>
  <button (click)="createUser()" mat-raised-button>Create User</button>
  <!--<mat-form-field class="full-width">
    <input matInput [formControl]="filterControl" placeholder="Filter">
  </mat-form-field>-->
  <table [dataSource]="users$" class="full-width" mat-table>
    <ng-container matColumnDef="username">
      <th *matHeaderCellDef mat-header-cell>Username</th>
      <td *matCellDef="let element" mat-cell>{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell>E-Mail</th>
      <td *matCellDef="let element" mat-cell>{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="joined">
      <th *matHeaderCellDef mat-header-cell>Joined</th>
      <td *matCellDef="let element" mat-cell>
        {{ element.dateJoined | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="slots">
      <th *matHeaderCellDef mat-header-cell>Timeslots</th>
      <td *matCellDef="let element" mat-cell>{{ element.timeslotsNeeded }}</td>
    </ng-container>

    <ng-container matColumnDef="group">
      <th *matHeaderCellDef mat-header-cell>Permission group</th>
      <td *matCellDef="let element" mat-cell>{{ element.group }}</td>
    </ng-container>

    <ng-container matColumnDef="checkup">
      <th *matHeaderCellDef mat-header-cell>Overdue</th>
      <td *matCellDef="let element" mat-cell>
        <ng-container *ngIf="element.checkupOverdue; else notOverdue">
          Since {{ element.checkupOverdue | date }}
        </ng-container>
        <ng-template #notOverdue>
          Not overdue
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="editUser(element)" mat-button>EDIT</button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
</main>
