<main
  class="mat-app-background mat-typography"
  fxLayout="column"
  fxLayoutGap="4rem"
>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h1 style="margin: 0;">KAP Exam Portal</h1>
    <button (click)="logout()" mat-flat-button>LOGOUT</button>
  </div>
  <div fxLayout="column" fxLayoutGap="1rem">
    <ng-container *ngFor="let day of days$ | async">
      <h3 style="margin: 0;">{{ day.dayMoment | date }}</h3>
      <mat-card *ngFor="let appointment of (appointments$ | async)[day.dayNum]">
        <mat-card-title>{{ appointment.patient.username }}</mat-card-title>
        <mat-card-subtitle
          >{{ appointment.appointmentStart | date: 'shortTime' }} -
          {{
            appointment.appointmentEnd | date: 'shortTime'
          }}</mat-card-subtitle
        >
        <mat-card-content>
          <div fxLayout="row" fxLayoutGap="1rem">
            <div fxFlex fxLayout="column">
              <strong>Doctor Comment</strong> <br />
              <mat-form-field>
                <mat-label>Leave a comment</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            </div>
            <p fxFlex>
              <strong>Patient comment:</strong><br />{{
                appointment.commentPatient
              }}
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button color="primary" mat-stroked-button>Save comment</button>
          <button
            color="warn"
            mat-stroked-button
            [disabled]="appointment.noshow"
            (click)="reportNoShow(appointment.id)"
          >
            Mark as no-show
          </button>
          <button
            (click)="makeNewAppointment(appointment.patient)"
            mat-stroked-button
          >
            Make new appointment for this patient
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</main>
