<main
  class="mat-app-background mat-typography"
  fxLayout="column"
  fxLayoutGap="4rem"
>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h1 style="margin: 0;">Welcome to KAP</h1>
    <button (click)="logout()" mat-flat-button>LOGOUT</button>
  </div>
  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="4rem">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="2rem">
      <kap-patient-data [patient]="patient$ | async"></kap-patient-data>
      <kap-next-appointments
        (freeAppointment)="freeAppointment($event)"
        [user]="patient$ | async"
      ></kap-next-appointments>
    </div>
    <kap-appointment-overview
      (loadMore)="loadMoreAppointments()"
      [appointments]="slots$ | async"
      fxFlex
      [canLoadMore]="canLoadMore | async"
      (takeAppointment)="takeAppointment($event)"
    ></kap-appointment-overview>
  </div>
  <!--  <kap-survey-overview></kap-survey-overview>-->
</main>
