<form [formGroup]="appointmentForm">
  <mat-form-field>
    <input formControlName="title" matInput placeholder="Title" type="text" />
  </mat-form-field>
  <mat-form-field>
    <input
      [matDatepicker]="picker"
      formControlName="appointmentStart"
      matInput
      placeholder="Start Day"
      type="text"
    />
    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input
      formControlName="appointmentStartTime"
      matInput
      placeholder="Start Time"
      type="text"
    />
  </mat-form-field>
  <button
    (click)="submit()"
    [disabled]="appointmentForm.invalid"
    mat-stroked-button
  >
    Save Appointment
  </button>
  <button (click)="cancel.emit()" mat-stroked-button>Cancel</button>
</form>
