<h1 mat-dialog-title>Create new User</h1>
<mat-dialog-content>
  <form [formGroup]="userForm" fxLayout="column">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mail</mat-label>
      <input formControlName="email" matInput type="email" />
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="1rem">
      <mat-form-field fxFlex>
        <mat-label>Appointment Slots</mat-label>
        <input formControlName="timeslotsNeeded" matInput type="number" />
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Join date</mat-label>
        <input
          [matDatepicker]="myDatepicker"
          formControlName="dateJoined"
          matInput
        />
        <mat-datepicker-toggle
          [for]="myDatepicker"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" />
      <mat-hint *ngIf="showPasswordHint"
        >Leave empty to not override the password
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Permission group</mat-label>
      <mat-select formControlName="group">
        <mat-option value="Patient">Patient</mat-option>
        <mat-option value="Doctor">Doctor</mat-option>
        <mat-option value="Labor">Lab Tech</mat-option>
        <mat-option value="Admin">Admin</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="emailNotification"
      >Notify if this User makes an Appointment
    </mat-checkbox>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    [disabled]="userForm.invalid"
    [mat-dialog-close]="userForm.value"
    color="primary"
    mat-flat-button
  >
    Save
  </button>
  <button mat-dialog-close mat-stroked-button>Cancel</button>
</mat-dialog-actions>
