<h2>Upcoming Surveys</h2>
<div fxLayout="column" fxLayoutGap="1rem">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
    <h3 fxFlex="150px">First Survey</h3>
    <p fxFlex="100px">20 Questions</p>
    <strong fxFlex="180px">Completed</strong>
    <button fxFlex="150px" mat-stroked-button>See answers</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
    <h3 fxFlex="150px">Second Survey</h3>
    <p fxFlex="100px">22 Questions</p>
    <strong fxFlex="180px">Completed</strong>
    <button fxFlex="150px" mat-stroked-button>See answers</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
    <h3 fxFlex="150px">Third Survey</h3>
    <p fxFlex="100px">25 Questions</p>
    <strong fxFlex="180px">10/25 Questions answered</strong>
    <button fxFlex="150px" mat-stroked-button>Continue Survey</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
    <h3 fxFlex="150px">Fourth Survey</h3>
    <p fxFlex="100px">23 Questions</p>
    <strong fxFlex="180px">Not started</strong>
    <button color="accent" fxFlex="150px" mat-stroked-button>
      Begin Survey
    </button>
  </div>
</div>
