<h2>Make a new Appointment</h2>
<h3>Currently available</h3>
<div fxLayout="row" fxLayoutGap="1rem">
  <div
    *ngFor="let calendar of calendars"
    class="calendar"
    fxLayout="column"
    fxLayoutGap="0.5rem"
  >
    <h3>{{ calendar.name }} ({{ calendar.doctor.username }})</h3>
    <div
      *ngFor="let appointment of calendar.appointments"
      [ngClass]="{ taken: appointment.taken }"
      class="appointment"
    >
      <strong
        >{{ appointment.title }}
        {{ appointment.taken ? '(taken)' : '' }}</strong
      >
      <p>
        {{ appointment.appointmentStart | date: 'medium' }} -
        {{ appointment.appointmentEnd | date: 'medium' }}
      </p>
      <ng-container *ngIf="!appointment.taken">
        <button
          (click)="takeAppointment.emit(appointment.id)"
          color="primary"
          mat-stroked-button
        >
          Take Appointment
        </button>
      </ng-container>
    </div>
  </div>
</div>
