<ng-container *ngIf="(days | async).length; else noAppointment">
  <h2>Make a new Appointment</h2>
  <h3>Currently available</h3>
  <div gdAuto gdColumns="repeat(auto-fit, minmax(175px, 1fr))" gdGap="1rem">
    <button
      (click)="loadMore.emit()"
      [disabled]="canLoadMore"
      color="primary"
      gdColumn="1 / -1"
      mat-stroked-button
    >
      Load more appointments
    </button>
    <ng-container *ngFor="let day of days | async">
      <strong gdColumn="1 / -1">{{ day.dayMoment | date: 'fullDate' }}</strong>
      <mat-card *ngFor="let slot of day.slots">
        <mat-card-title
          >{{ slot.start | date: 'shortTime' }} -
          {{ slot.end | date: 'shortTime' }}</mat-card-title
        >
        <mat-card-actions>
          <button
            (click)="takeAppointment.emit(slot)"
            color="primary"
            mat-stroked-button
          >
            Book Appointment
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</ng-container>
<ng-template #noAppointment>
  <h2>Currently you don't have to book an appointment</h2>
</ng-template>
