<h2>Make a new Appointment</h2>
<h3>Currently available</h3>
<div gdAuto gdColumns="repeat(4, 1fr)" gdGap="1rem">
  <ng-container *ngFor="let day of days | async">
    <strong gdColumn="span 4">{{ day.dayMoment | date }}</strong>
    <mat-card *ngFor="let appointment of day.appointments">
      <mat-card-title
        >{{ appointment.appointmentStart | date: 'shortTime' }} -
        {{ appointment.appointmentEnd | date: 'shortTime' }}</mat-card-title
      >
      <mat-card-actions>
        <button
          mat-stroked-button
          (click)="takeAppointment.emit(appointment.id)"
          color="primary"
        >
          Book Appointment
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
