<h2 mat-dialog-title>Geben sie einen Hinweis zu ihrem Termin</h2>
<mat-dialog-content>
  <p>
    Termin am
    <strong>{{ slot.start | date: 'fullDate' }}</strong> von
    <strong>{{ slot.start | date: 'mediumTime' }}</strong> bis
    <strong>{{ slot.end | date: 'mediumTime' }}</strong>
  </p>
  <mat-form-field style="width: 100%;">
    <mat-label>Hinterlassen sie einen Hinweis fuer den Arzt</mat-label>
    <textarea [formControl]="commentControl" matInput></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    color="warn"
    mat-dialog-close="No comment provided."
    mat-stroked-button
  >
    Buchen ohne Kommentar
  </button>
  <button
    [disabled]="commentControl.invalid"
    [mat-dialog-close]="commentControl.value"
    color="primary"
    mat-stroked-button
  >
    Kommentar speichern und buchen
  </button>
</mat-dialog-actions>
