<h1 mat-dialog-title>Add Appointments</h1>
<mat-dialog-content>
  <p>Define the appointments you want to add below</p>
  <form [formGroup]="appointmentsForm" fxLayout="column" fxLayoutGap="1rem">
    <div
      formArrayName="appointments"
      gdAuto
      gdColumns="1fr 1fr auto"
      gdGap="1rem"
    >
      <ng-container
        *ngFor="let appointment of appointments.controls; let i = index"
        [formGroupName]="i.toString()"
      >
        <mat-form-field>
          <mat-label>Day of the Week</mat-label>
          <mat-select formControlName="day">
            <mat-option [value]="1">
              Monday
            </mat-option>
            <mat-option [value]="2">
              Tuesday
            </mat-option>
            <mat-option [value]="3">
              Wednesday
            </mat-option>
            <mat-option [value]="4">
              Thursday
            </mat-option>
            <mat-option [value]="5">
              Friday
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="time" matInput placeholder="Time" />
        </mat-form-field>
        <button
          mat-icon-button
          (click)="deleteAppointment(i)"
          [disabled]="appointment.disabled"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
    </div>
    <button (click)="addAppointment()" color="primary" mat-flat-button>
      <mat-icon>add</mat-icon>
      <span>Add Appointment</span>
    </button>
    <mat-form-field appearance="standard">
      <input
        formControlName="repeat"
        matInput
        placeholder="Repeat for "
        type="number"
      />
      <mat-hint
        >Set for how many weeks these appointments should be repeated</mat-hint
      >
    </mat-form-field>
  </form>
  <p>
    Appointments will be generated starting from this week and last 45 minutes
    each
  </p>
  <p>
    This will generate
    <strong>{{ appointmentNum | async }}</strong> appointments, with the last
    one being on
    <strong>{{ lastAppointment | async | date: 'fullDate' }}</strong>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="saveAppointments()" color="primary" mat-stroked-button>
    Confirm
  </button>
  <button color="warn" mat-dialog-close mat-stroked-button>Cancel</button>
</mat-dialog-actions>
