<h2>Upcoming appointments this week</h2>
<div fxLayout="column" fxLayoutGap="1rem">
  <ng-container *ngFor="let day of days | async">
    <strong>{{ day.dayMoment | date }}</strong>
    <mat-card *ngFor="let appointment of day.appointments">
      <mat-card-title
        >{{ appointment.appointmentStart | date: 'shortTime' }} -
        {{ appointment.appointmentEnd | date: 'shortTime' }}</mat-card-title
      >
      <mat-card-content>
        <div fxLayout="row" fxLayoutGap="1rem">
          <div>
            <h3>Doctor notes</h3>
            <p>{{ appointment.commentDoctor }}</p>
          </div>
          <div>
            <h3>Patient notes</h3>
            <p>{{ appointment.commentPatient }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
