<h1 mat-dialog-title>Edit appointment</h1>
<mat-dialog-content>
  <form [formGroup]="appointmentForm" fxLayout="column" fxLayoutGap="1rem">
    <mat-form-field>
      <mat-label>Appointment Title</mat-label>
      <input formControlName="title" matInput />
    </mat-form-field>
    <mat-slide-toggle formControlName="taken"
      >Appointment taken</mat-slide-toggle
    >
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="1rem">
      <mat-form-field>
        <mat-label>Appointment date</mat-label>
        <input [matDatepicker]="picker" formControlName="startDate" matInput />
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Appointment Start time</mat-label>
        <input formControlName="startTime" matInput />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Doctor comment</mat-label>
      <textarea formControlName="commentDoctor" matInput></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Patient comment</mat-label>
      <textarea formControlName="commentPatient" matInput></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="warn" mat-dialog-close mat-stroked-button>Cancel</button>
  <button
    (click)="freeAppointment()"
    color="warn"
    mat-dialog-close
    mat-stroked-button
    *ngIf="data.taken"
  >
    Free Appointment
  </button>
  <button
    (click)="submit()"
    [disabled]="appointmentForm.invalid"
    color="primary"
    mat-stroked-button
  >
    Save
  </button>
</mat-dialog-actions>
