<div gdAuto gdColumns="repeat(3, max-content)" gdGap="1rem">
  <ng-container *ngFor="let item of items | async">
    <span>After {{ asMonths(item.daysUntil) }} months</span>
    <p>{{ item.name }}</p>
    <button (click)="removeItem.emit(item.id)" color="warn" mat-button>
      REMOVE
    </button>
  </ng-container>
  <mat-form-field>
    <mat-label>Month after Study start</mat-label>
    <input matInput [formControl]="monthControl" type="number" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input [formControl]="nameControl" matInput />
  </mat-form-field>
  <button
    gdColumn="1/-1"
    mat-stroked-button
    (click)="submitItem()"
    [disabled]="nameControl.invalid || monthControl.invalid"
  >
    Add Checkup
  </button>
</div>
